* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: #FFFEFE;
}

.logo {
    border-radius: 15px;
    padding: 5px;
}

.nome-jogo {
    color: #ffec64; 
    font-size: 2em;
    text-transform: uppercase;
}

.score-board {
    background-color: black;
    height: 400px;
    width: 350px;
    /* padding: 5px; */
    margin: 7px 0px 0px 10px;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.board {
    color: #FFFEFE;
    border: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

.score, .tries {
    background-color: #FFFEFE;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    height: 90px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0 , 0.5);
}

#restart {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
#restart:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
#restart:active {
	position:relative;
	top:1px;
}
